<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <context:component-scan base-package="org.example"/>

<!--      <bean id="student" class="org.example.student">-->
<!--          <property name="id" value="1234"/>-->
<!--          <property name="name" value="Niroj"/>-->
<!--          <property name="add" ref="Address"/>-->
<!--          <property name="ph">-->
<!--              <list>-->
<!--                  <ref bean="phone1"/>-->
<!--                  <ref bean="phone2"/>-->
<!--              </list>-->
<!--          </property>-->

<!--      </bean>-->
<!--      <bean id="Address" class="org.example.Address">-->
<!--           <property name="city" value="Dallas"/>-->
<!--           <property name="state" value="texas"/>-->
<!--           <property name="country" value="USA"/>-->
<!--           <property name="zipcode" value="75555"/>-->
<!--      </bean>-->
      <bean id="phone1" class="org.example.phone">
          <property name="mob" value="7776665432"/>
      </bean>
    <bean id="phone2" class="org.example.phone">
        <property name="mob" value="7476665482"/>
    </bean>


</beans>